.base {
	justify-self: start;
	display: flex;
	flex-shrink: 1;
	margin: auto 0;
	@media (max-width: 1023px) {
		flex-direction: column;
		padding-left: 20px;
	}
}
.base__years {
	padding: 0 60px 0 80px;
	@media (max-width: 1023px) {
		padding: 10px 0;
	}
	h2 {
		font-family: $headerFamily;
		font-size: 64px;
		font-style: normal;
		font-weight: 400;
		line-height: 59px;
		letter-spacing: 0em;
		text-align: left;
		color: $mainColor;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		@media (max-width: 1023px) {
			font-size: 20px;
			line-height: 18px;
			writing-mode: horizontal-tb;
			transform: rotate(0deg);
		}
	}
}
.base__biography {
	max-width: 520px;
	@media (max-width: 1023px) {
		max-width: 100%;
	}
	h1 {
		font-family: $headerFamily;
		font-size: 80px;
		font-style: normal;
		font-weight: 400;
		line-height: 80px;
		letter-spacing: 0em;
		text-align: left;
		color: $mainColor;
		@media (max-width: 1023px) {
			font-size: 40px;
			line-height: 44px;
		}
	}
	p {
		font-family: $fontFamily;
		font-size: 16px;
		line-height: 29px;
		letter-spacing: 0em;
		text-align: left;
		color: $mainColor;
		padding: 20px 20px 60px 0px;
	}
}