.base {
	justify-self: start;
	display: flex;
	flex-shrink: 1;
	margin: auto 0;
}
.base__years {
	padding: 0 60px 0 80px;
	h2 {
		font-family: $headerFamily;
		font-size: 64px;
		font-style: normal;
		font-weight: 400;
		line-height: 59px;
		letter-spacing: 0em;
		text-align: left;
		color: $mainColor;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}
}
.base__biography {
	max-width: 520px;
	h1 {
		font-family: $headerFamily;
		font-size: 80px;
		font-style: normal;
		font-weight: 400;
		line-height: 80px;
		letter-spacing: 0em;
		text-align: left;
		color: $mainColor;
	}
	p {
		font-family: $fontFamily;
		font-size: 16px;
		line-height: 29px;
		letter-spacing: 0em;
		text-align: left;
		color: $mainColor;
		word-wrap: break-word;
	}
}