.footer {
  width: 100%;
  background-color: $addColor;
  &__networks{
    align-self: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 40px;
  }
  &__refs {
    display: flex;
    a {
      background-color: transparent;
      border: none;
      display: inherit;
			width: 65px;
      height: 34px;
      align-items: center;
      justify-content: center;
    }
  }
  &__content {
    width: 920px;
    display: flex;
    flex-direction: column;
    margin: auto;
    @media (max-width: 1023px) {
      max-width: 100%;
		}
  }
}

.menu {
  padding: 60px 0 40px 0;
  align-self: center;
  @media (max-width: 1023px) {
    padding: 40px 0;
  }
  ul {
    display:flex;  
    list-style:none;
    @media (max-width: 1023px) {
			flex-direction: column;
		}  
  }
  ul a {
		font-family: $fontFamily;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0em;
		text-align: left;
		color: $mainColor;
	}
	li {
		padding:0 10px;
    margin:0;
    @media (max-width: 1023px) {
      padding-bottom: 20px;
    }
  }

}

