.main {
	display: flex;
	width: 100%;
	min-height: 100%;//100vh;
	background-color:rgba(29, 31, 28, 0.333);
	position: relative;
	@media (max-width: 1023px) {
		flex-direction: column;
		height: auto;
	}
}
.left {
	flex-grow: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../img/bg_main.jpg");
	flex-basis: 30%;
	flex-shrink: 1;
	&__img {
		display: none;
	}
	@media (max-width: 1023px) {
		background-image: none !important;
		&__img {
			display: block;
			min-width: 100%;
		}
	}
}
.right {
	flex-grow: 3;
	background-color: $addColor;
	display: flex;
	flex-direction: column;
	position: relative;
	flex-shrink: 3;
	@media (max-width: 1023px) {
		order: -1;
		max-width: 100%;
	}
}