.maps {
  width: 100%;
  position: relative;
  &__content {
		width: 920px;
		display: flex;
		margin: auto;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #E5E5E5;
    @media (max-width: 1023px) {
      width: 100%;
		}
	}
  h3 {
    font-family: $headerFamily;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    padding: 40px 0;
  }
}
.maps__contacts {
  display: flex;
  @media (max-width: 1023px) {
    flex-direction: column;
    padding: 40px 20px 80px 20px;
    align-self: start;
  }
  h4 {
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  div {
    display: flex;
    padding-bottom: 20px;
  }
  img {
    padding-right:15px;
    align-self: center;
  }
  p {
    font-family: $fontFamily;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #BFBFBF;
  }
}
.maps__item {
  display: flex;
  flex-direction: column;
  padding: 40px;
  @media (max-width: 1023px) {
    padding: 0;
  }
  &:nth-child(2){
    border-left:  1px solid #E5E5E5;
    border-right:  1px solid #E5E5E5;
    @media (max-width: 1023px) {
      border-top:  1px solid #E5E5E5;
      border-bottom:  1px solid #E5E5E5;
      border-left:  1px solid transparent;
      border-right:  1px solid transparent;
   
		}
  }
  
}
.map {
  position: relative;
  z-index: 1;
  display: block;
  img:first-of-type {
    width: 1200px;
    @media (max-width: 1023px) {
     width: 100%;
     object-fit: contain;
    }
  }
}
.loc {
  position: absolute;
  z-index: 90;
  top: 20%;
  right: 34.8%;
  @media (max-width: 1023px) {
    top: 29.4%;
    right: 44.5%;
  }
}