.paragraph {
  width: 100%;
	&__content {
		width: 920px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-top: 1px solid #E5E5E5;
    @media (max-width: 1023px) {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  &__block {
    display: flex;
    @media (max-width: 1023px) {
      flex-direction: column;
    }
    p {
      font-family: $fontFamily;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      color: #4B4B4B;
      padding: 40px 0 0 80px;
      @media (max-width: 1023px) {
				padding: 40px 0px;
			}
    }
    img {
      padding: 40px 80px;
      @media (max-width: 1023px) {
        align-self: center;
        padding: 0;
        width: 100%;
      }
    }
  }

  &__picture {
    align-self: center;
    @media (max-width: 1023px) {
      padding: 20px 0;
      max-width: 100%;
    }
  }
  &__text {
    display: flex;
    @media (max-width: 1023px) {
      flex-direction: column;
    }

    p {
      font-family: $fontFamily;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      padding: 40px 40px 40px 0;
      @media (max-width: 1023px) {
        padding: 0 0 20px;
      }
    }
  }
}
