//Миксины=====================================================================
@import "mixins";
//Миксины=====================================================================

//Шрифты======================================================================
@import "fonts";
//Шрифты======================================================================

//Переменные===================================================================
$fontFamily: 'Helvetica';
$headerFamily: 'YesevaOne';
$maxMobile: 1023px;
$mainColor: #E5E5E5;
$addColor: #202020;
$minWidth: 320px;
//Переменные===================================================================

//Обнуление===================================================================
@import "null";
//Обнуление===================================================================

//Оболочка=====================================================================
.wrapper {
  overflow-y: scroll;
  min-height: 100%;
}
//Оболочка=====================================================================

//Основная сетка==============================================================
html {
  touch-action: manipulation;
}

//Основная сетка==============================================================

//Подключение файлов UI стилей, форм и готовых классов========================
//@import "forms";
//@import "ui";
//Подключение файлов UI стилей, форм и готовых классов========================

//Подключение файлов стилей страниц и элементов===============================
@import "header.scss";
@import "menu-mobile.scss";
@import "main.scss";
@import "base.scss";
@import "logo.scss";
@import "article.scss";
@import "slides.scss";
@import "paragraph.scss";
@import "maps.scss";
@import "footer.scss";

//Подключение файлов стилей страниц и элементов===============================

//Основной блок===============================================================
.page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  @include flexbox();
  flex-direction: column;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}