.base
	.base__years
		h2 1878-1927
	.base__biography
		h1 борис кустодиев
		p Художник, запечатлевший на своих ярких и жизнерадостных полотнах сцены русских будней и праздников. Обладал редким безграничным талантом, которому, в первую очередь, было присуще особое чувство и восприятие родной природы.