header.header
	.header__search
		span.search-button
		input.search-text(type="text")
	.header__menu
		ul
			li 
				a(href="#biography") биография
			li 
				a(href="#creation") творчество
			li 
				a(href="#paintings") картины
			li 
				a(href="#museums") музеи
	.icon-menu
		span
		span
		span
	.mobile-menu
		ul.mobile-menu__list
			li
				a(href="#biography").mobile-menu__link биография
			li 
				a(href="#creation").mobile-menu__link творчество
			li 
				a(href="#paintings").mobile-menu__link картины
			li
				a(href="#museums").mobile-menu__link музеи
