section.slides
	.slides__content 
		.slides__gallery
			ul
				li
					span.bg.active
					img(src="./img/photo/01.svg", alt="01")
				li
					span.bg
					img(src="./img/photo/02.svg", alt="02")
				li
					span.bg
					img(src="./img/photo/03.svg", alt="03")
				li
					span.bg
					img(src="./img/photo/04.svg", alt="04")
				li
					span.bg
					img(src="./img/photo/05.svg", alt="Осень в провинции. Чаепитие")
			div.allImg
				a(href="#") все картины
		.slides__currentPhoto
			img(src="./img/photo/01.svg" alt="current-photo")
		.slides__footer
			button#prevPhoto
			.slides__title
				h4 01
				p <span>1</span> / 505
			button#nextPhoto.act